/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 @font-face {
   font-family: "Handlee";
   src: url("../fonts/Handlee-Regular.ttf");
 }

 @font-face {
   font-family: "Asap";
   src: url("../fonts/Asap-Regular.otf");
 }

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#E4E4E4;
  background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #A7A7A7),
      color-stop(0.51, #E4E4E4)
  );
  background-attachment:fixed;
  font-family: 'Asap', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:14px;
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
  overflow: hidden;
}

div, a, span, img {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0 0 10px 0;
  line-height: 1em;
}

h1, h4 {
  font-family: 'Handlee', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #4375bc;
}

h2 {
  text-align: center;
  color: #2e486c;
}

h3 {
  text-align: center;
  color: #5f95df;
  font-size: 28px;
  margin-bottom: 20px;
}

h4 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

#panels {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #0e1522;
}

.panel {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0e1522;
  -webkit-transform: translate3d(0,0,0);
}

@-webkit-keyframes fall {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
    -webkit-transform: translate3d(-100px, -100px, 0) rotate(-25deg);
  }
}

.panel.on {
  z-index: 2;
  display: table;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.panel .center {
  display:table-cell;
  vertical-align:middle;
}

.panel.off {
  -webkit-animation: fall 500ms 1;
  -webkit-animation-fill-mode: forwards;
  display: table;
  z-index: 3;
  pointer-events: none;
}

.panel.next {
  display: table;
  z-index: 1;
}

.menu-panel {
  padding: 30px 15px;
}

.menu-panel a {
  display: block;
  background: #4982d0;
  color: #fff;
  padding: 20px;
  margin: 0 0 12px 0;
  text-align: center;
  font-size: 24px;
  -webkit-border-radius: 4px;
}

.icon-before:before {
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 29px;
  height: 29px;
  display: inline-block;
  content: '';
  margin: 0 10px 0 0;
}

#get-snappin:before {
  background-image: url(../img/icon-clock.png);
}

#male:before, #female:before {
  background-size: auto 100%;
  width: 16px;
  height: 41px;
  margin: -10px 10px -10px -10px;
}

#male:before {
  background-image: url(../img/icon-guy.png);
}

#female:before {
  background-image: url(../img/icon-gal.png);
}

.menu-panel a.btn-alt {
  font-size: 36px;
  background: #ff126a;
  font-family: "Handlee";
}

.menu-panel a.disabled {
  opacity: 0.2;
}

.btn-bottom {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
}

.toggles {
  text-align: justify;
  margin: 50px 0 0;
  line-height: 1em;
}

.toggles:before {
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -1.2em;
}

.toggles:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.toggles a {
  position: relative;
  width: 31%;
  display: inline-block;
  font-size: 14px;
  padding: 70px 0 10px;
  background-position: center 5%;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: 4px solid transparent;
  -webkit-transition: all 100ms;
  -webkit-transform: translate3d(0,0,0);
}

.toggles a.active {
  border: 4px solid #ff126a;
  background-color: #0c121b;
}

.toggles a.active:before {
  content: '';
  display: block;
  width: 22px;
  height: 20px;
  background: #ff126a url(../img/check.png) no-repeat center 25%;
  background-size: 80% auto;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-bottom-left-radius: 4px;
}

#shoes {
  background-image: url(../img/icon-shoe.png);
}

#clothing {
  background-image: url(../img/icon-shirt.png);
}

#accessories {
  background-image: url(../img/icon-tie.png);
}

#bags {
  background-image: url(../img/icon-bag.png);
}

#home {
  background-image: url(../img/icon-home.png);
}

#beauty {
  background-image: url(../img/icon-lipstick.png);
}

#panel-game {
  padding: 20px 0;
  text-align: center;
}

#timer {
  color: #ff126a;
  font-size: 42px;
  font-weight: bold;
  margin: -5px 0 6px;
}

#round {
  color: #fff;
  margin: 0 0 20px 0;
  padding: 0;
}

#round span {
  vertical-align: top;
  display: inline-block;
  background: #2b8988;
  color: #42d2d0;
  height: 33px;
  padding: 5px 12px 0;
  -webkit-border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 500ms ease-in;
}

#panel-game.loaded #bar {
  opacity: 1;
  margin: 0 0 0 -38px;
  width: 200px;
}

#panel-game.loaded #round .current {
  opacity: 0;
}

#bar {
  display: inline-block;
  margin: 0 0 0 10px;
  position: relative;
  border: 4px solid #ff126a;
  width: 0;
  z-index: 0;
  height: 33px;
  opacity: 0;
  -webkit-border-radius: 4px;
  -webkit-transition: all 500ms ease-in;
}

#position {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #9f154f;
  -webkit-transition: all 100ms linear;
}

.item-image {
  position: absolute;
  top: 180px;
  left: 50%;
  width: 223px;
  height: auto;
  border: 6px solid #5f95df;
  -webkit-border-radius: 4px;
  -webkit-transform: translate3d(0,0,0);
}

.item-image.centered {
  margin: 0 0 0 -110px;
}

.item-image.is-dragging {
  margin: 0;
}

.sidebar {
  width: 48px;
  height: 190px;
  background: #ff126a;
  padding: 55px 0 0;
  color: #0c121b;
  -webkit-border-radius: 4px;
  position: absolute;
  top: 180px;
  font-weight: bold;
  font-size: 16px;
  z-index: 200000;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 100ms;
}

.sidebar span {
  display: block;
  margin: 8px 12px 0;
  padding: 32px 0 0;
  background: url(../img/icon-heart.png) no-repeat 0 0;
  background-size: 100% auto;
}

#love {
  opacity: 0;
  right: -4px;
}

#nah.sidebar {
  background-color: #2b8988;
}

#nah {
  opacity: 0;
  left: -4px;
}

#nah span {
  background-image: url(../img/icon-trash.png);
}

#round-stats {
  margin: 20px 15px 0;
  padding: 40px 0 40px;
}

#round-stats h4 {
  margin: 0 0 26px 0;
}

#end-of-round.shown {
  z-index: 100;
  display: block;
}

#end-of-round ul {
  border-top: 4px solid #ff126a;
  border-bottom: 4px solid #ff126a;
  list-style: none;
  padding: 20px 0;
  margin: 0;
  text-align: center;
  line-height: 2em;
  color: #5f95df;
  font-size: 22px;
}

#end-of-round ul:before {
  margin: -34px 0 12px;
  content: '';
  display: block;
  height: 26px;
  background: url(../img/icon-round-check.png) no-repeat top center;
  background-size: auto 100%;
  text-align: center;
}

#end-of-round strong {
  padding: 2px 5px 2px 6px;
  background: #ff126a;
  color: #0f1926;
  -webkit-border-radius: 4px;
  margin: 0 5px 0 -10px;
}

#end-of-round .stat-teal strong {
  background: #2b8988;
}

#end-of-round .stat-blue strong {
  background: #2a4468;
}

#spinner {
  margin: 0 auto 30px;
  width: 31px;
  height: 31px;
  background: url(../img/spinner.png) no-repeat 0 0;
  background-size: 100% auto;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}
 
.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}
